<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" css/styles.css">
    <title>To do list </title>
</head>
 <body>


    <div class="box" id="heading">
        <h1>It's a <%= listTitel %></h1> 
    </div>

   <div class="box">
    <ul>
        <% for(var i = 0 ; i <  newlistItems.length ; i++) { %>
             <div class="item">
                <input type="checkbox"  >
              <p> <%=newlistItems[i] %> </p> 
             </div>
        
        <% } %>
      </ul>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem"  placeholder="New Item" autocomplete="off" >
        <button type="submit" name="button" value= <%= listTitel %> >+</button>
     </form>

   </div>
  
   

</body>
</html>